<h2>Selecting</h2>
<div ng-repeat='(header, values) in selectors'>
  <p>{{header}}</p>
  <selectors title="{{header}}">
    <div ng-repeat='aspect in values'>
      <selector title="{{aspect}}"/>
  </div>
  </selectors>
</div>
<hr/>
<div><p>Things to select from:</p>
<things>
  <div ng-repeat='(name, params) in things'>
    <thing track="{{params.track.join(',')}}" ubarea="{{params.ubarea.join(',')}}">{{name}} ({{params.track.join(',')}}:{{params.ubarea.join(',')}})</thing>
  </div>
</things>
</div>
